<md-nav-list>
  <md-list-item>
    <a mdLine href="https://www.baidu.com" i18n="@@my-plan">My Plan</a>
    <md-icon color="primary">info</md-icon>
  </md-list-item>
  <md-list-item>
    <a mdLine href="https://www.baidu.com">当前计划</a>
    <md-icon color="primary">info</md-icon>
  </md-list-item>
  <md-list-item>
    <a mdLine href="https://www.baidu.com">今日安排</a>
    <md-icon color="primary">info</md-icon>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <a mdLine href="https://www.baidu.com">我的成就</a>
    <md-icon color="primary">info</md-icon>
  </md-list-item>
  <md-list-item>
    <a mdLine href="https://www.baidu.com">设置</a>
    <md-icon color="primary">info</md-icon>
  </md-list-item>
</md-nav-list>
