<md-nav-list>
  <md-list-item>
    <a mdLine href="https://www.baidu.com">Baidu</a>
    <md-icon color="primary">info</md-icon>
  </md-list-item>
  <md-list-item>
    <a mdLine href="https://www.baidu.com">Baidu</a>
    <md-icon color="primary">info</md-icon>
  </md-list-item>
  <md-list-item>
    <a mdLine href="https://www.baidu.com">Baidu</a>
    <md-icon color="primary">info</md-icon>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <a mdLine href="https://www.baidu.com">Baidu</a>
    <md-icon color="primary">info</md-icon>
  </md-list-item>
  <md-list-item>
    <a mdLine href="https://www.baidu.com">Baidu</a>
    <md-icon color="primary">info</md-icon>
  </md-list-item>
</md-nav-list>
